{% load static %}
    <footer class="site-footer" style="background-image: url('{% static "images/hero_bg_footer.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">О нас</h2>
                    <p>Далеко-далеко, за словесными горами, далеко от стран Вокалий и Согласных, там
                        жить слепыми текстами. </p>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span style="color: #1e1e1e" class="icon-facebook"></span></a></li>
                        <li><a href="#"><span style="color: #1e1e1e" class="icon-instagram"></span></a></li>
                        <li><a href="#"><span style="color: #1e1e1e" class="icon-twitter"></span></a></li>
                        <li><a href="#"><span style="color: #1e1e1e" class="icon-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Быстрые ссылки</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Условия использования</a></li>
                                <li><a href="#">Конфиденциальность</a></li>
                                <li><a href="#">Связаться с нами</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Ресурсы</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Условия использования</a></li>
                                <li><a href="#">Конфиденциальность</a></li>
                                <li><a href="#">Связаться с нами</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Компания</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Конфиденциальность</a></li>
                                <li><a href="#">Связаться с нами</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>

                            Авторские права &copy;<script>document.write(new Date().getFullYear());</script>
                            Все права защищены |  <i class="icon-heart text-danger"
                                                                                aria-hidden="true"></i> by <a
                                href="https://colorlib.com/" target="_blank">ХАЁТЖОН</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>